.orderForm {
    max-height: 60vh;
}

.orderForm .orderItem {
    border-bottom: 1px solid black;
}

.orderForm .orderItem:last-of-type {
    border-bottom: none;
}

.orderForm .orderItem .mainProduct, .orderForm .orderItem .gift {
    padding: 5px 0;
}

.k-dialog-content {
    max-height: 40vh !important;
}