<h3 class="title">訂單查詢</h3>
<form novalidate [formGroup]="queryForm">
    <label for="CODE" class="control-label">訂單編號</label>
    <input type="text" class="k-textbox" formControlName="CODE" />
    <label for="CUSTOMER" class="control-label">經銷商統編</label>
    <input type="text" class="k-textbox" formControlName="CUSTOMER" />
    <div>
        <label for="START_TIME" class="control-label">查詢日期　從</label>
        <kendo-datepicker [format]="'yyyy-MM-dd'"
            formControlName="START_TIME"></kendo-datepicker>
        <label for="END_TIME" class="control-label">到</label>
        <kendo-datepicker [format]="'yyyy-MM-dd'"
            formControlName="END_TIME"></kendo-datepicker>
    </div>
    <!--<div class="k-tooltip k-tooltip-validation"
        [hidden]="editForm.controls.Value.valid || editForm.controls.Value.pristine">
        信限比例格式錯誤
    </div>-->
</form>
<button kendoButton (click)="clearQuery($event)" [primary]="true">清除條件</button>
<button kendoButton (click)="onQuery($event)" [primary]="true">查詢</button>
<kendo-grid [kendoGridBinding]="notifications" [pageSize]="gridState.take" [skip]="gridState.skip"
    [sort]="gridState.sort" [pageable]="true" [resizable]="true" [sortable]="true"
    (dataStateChange)="onStateChange($event)" (remove)="removeHandler($event)" (edit)="editHandler($event)"
    (add)="addHandler()">
    <!--<ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>上傳csv</button>
    </ng-template>-->
    <kendo-grid-column field="CODE" title="訂單編號" width="20%">
    </kendo-grid-column>
    <kendo-grid-column field="ID" title="經銷商統編" width="10%">
    </kendo-grid-column>
    <kendo-grid-column field="CREATE_TIME" title="建立時間" width="10%">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.CREATE_TIME | dateFilter: 'YYYY-MM-DD hh:mm:ss' }}
        </ng-template>
    </kendo-grid-column>
    <!--<kendo-grid-column field="AREA" title="地址" width="20%">
    </kendo-grid-column>-->
    <kendo-grid-column field="MESSAGE" title="訂單狀態" width="10%">
    </kendo-grid-column>
    <kendo-grid-command-column title="操作" width="10%">
        <ng-template kendoGridCellTemplate>
            <button kendoGridEditCommand class="k-primary"
                style="margin: 1em 0;">訂單明細</button>
            <!--<button kendoGridRemoveCommand style="margin: 0;">刪除</button>-->
        </ng-template>
    </kendo-grid-command-column>
</kendo-grid>

<kendo-dialog *ngIf="active" (close)="closeForm()">
    <kendo-dialog-titlebar>訂單明細</kendo-dialog-titlebar>
    <!--<form novalidate [formGroup]="editForm">
        <div class="form-group">
            <label for="PRODUCTCODE" class="control-label">型號</label>
            <input type="text" formControlName="PRODUCTCODE" class="k-textbox"
                style="height: auto;" />
        </div>
        <div class="form-group">
            <label for="PRODUCTNAME" class="control-label">名稱</label>
            <input type="text" formControlName="PRODUCTNAME" class="k-textbox"
                style="height: auto;" />
        </div>
        <div class="form-group">
            <label for="PRICE" class="control-label">價格</label>
            <input type="text" formControlName="PRICE" class="k-textbox"
                style="height: auto;" />
        </div>
        <div class="form-group">
            <label for="Range" class="control-label">K/R類型</label>
            <label>
                <input type="radio" formControlName="TYPE" value="K000">K000</label>
            <label>
                <input type="radio" formControlName="TYPE" value="R000">R000</label>
        </div>
        <div class="form-group">
            <label for="START_TIME" class="control-label">檔期起始日期</label>
            <kendo-datepicker [format]="'yyyy-MM-dd'"
                formControlName="START_TIME"></kendo-datepicker>
        </div>
        <div class="form-group">
            <label for="END_TIME" class="control-label">檔期結束日期</label>
            <kendo-datepicker [format]="'yyyy-MM-dd'"
                formControlName="END_TIME"></kendo-datepicker>
        </div>
    </form>-->
    <form class="orderForm">
        <div class="orderItem" *ngFor="let item of orderDetail">
            <div class="mainProduct">
                <div>主商品: {{item.PRODUCTCODE}} x {{item.PRODUCTQUANTITY}} {{item.ERRORMESSAGE}}</div>
                <div *ngIf="item.RELATEDPRODUCTCODE">關聯性商品: {{item.RELATEDPRODUCTCODE}} x {{item.RELATEDPRODUCTQUANTITY}} {{item.ERRORMESSAGE}}</div>
            </div>
            <div class="gift" *ngFor="let gift of item.Giveaway">
                <div>贈品: {{gift.PRODUCTCODE}} x {{gift.PRODUCTQUANTITY}} {{gift.ERRORMESSAGE}}</div>
            </div>
        </div>
    </form>
    <kendo-dialog-actions>
        <button class="k-button" (click)="onCancel($event)">關閉</button>
        <!--<button class="k-button k-primary" (click)="onSave($event)">Save</button>-->
    </kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog *ngIf="comfirm" (close)="closeComfirmForm()">
    <kendo-dialog-titlebar>提示</kendo-dialog-titlebar>
    <div>確定上傳檔案？</div>
    <kendo-dialog-actions>
        <button class="k-button" (click)="onComfirmCancel($event)">取消</button>
        <button class="k-button k-primary" (click)="onComfirmSave($event)">確定</button>
    </kendo-dialog-actions>
</kendo-dialog>