<h3 class="title">贈品設定</h3>
<kendo-grid [kendoGridBinding]="notifications" [pageSize]="gridState.take" [skip]="gridState.skip"
    [sort]="gridState.sort" [pageable]="true" [sortable]="true" [resizable]="true"
    (dataStateChange)="onStateChange($event)" (edit)="editHandler($event)" (remove)="removeHandler($event)"
    (add)="addHandler($event)">
    <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>新增贈品</button>
    </ng-template>
    <kendo-grid-column field="ID" title="序號">
    </kendo-grid-column>
    <kendo-grid-column field="PRODUCTCODE" title="型號">
    </kendo-grid-column>
    <kendo-grid-column field="PRODUCTNAME" title="名稱">
    </kendo-grid-column>
    <kendo-grid-column field="PRICE" title="價格">
    </kendo-grid-column>
    <kendo-grid-column field="TYPE" title="K/R類型">
    </kendo-grid-column>
    <kendo-grid-column field="START_TIME" filter="date" title="檔期開始時間">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.START_TIME | dateFilter: 'YYYY-MM-DD' }}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="END_TIME" filter="date" title="檔期結束時間">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.END_TIME | dateFilter: 'YYYY-MM-DD' }}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column title="操作">
        <ng-template kendoGridCellTemplate>
            <button kendoGridEditCommand class="k-primary"
                style="margin: 1em 0;">編輯</button>
            <button kendoGridRemoveCommand style="margin: 0;">刪除</button>
        </ng-template>
    </kendo-grid-command-column>
</kendo-grid>

<kendo-dialog *ngIf="active" (close)="closeForm()">
    <kendo-dialog-titlebar>
        {{ isNew ? '新增贈品' : '修改贈品' }}
    </kendo-dialog-titlebar>

    <form novalidate [formGroup]="editForm">
        <div *ngIf="isNew" class="form-group">
            <label for="type" class="control-label">新贈品</label>
        </div>
        <div class="form-group">
            <label for="PRODUCTCODE" class="control-label">型號</label>
            <input type="text" formControlName="PRODUCTCODE" class="k-textbox"
                style="height: auto;" />
        </div>
        <div class="form-group">
            <label for="PRODUCTNAME" class="control-label">名稱</label>
            <input type="text" formControlName="PRODUCTNAME" class="k-textbox"
                style="height: auto;" />
        </div>
        <div class="form-group">
            <label for="PRICE" class="control-label">價格</label>
            <input type="text" formControlName="PRICE" class="k-textbox"
                style="height: auto;" />
        </div>
        <div class="form-group">
            <label for="Range" class="control-label">K/R類型</label>
            <label>
                <input type="radio" formControlName="TYPE" value="K000">K000</label>
            <label>
                <input type="radio" formControlName="TYPE" value="R000">R000</label>
        </div>
        <div class="form-group">
            <label for="START_TIME" class="control-label">檔期起始日期</label>
            <kendo-datepicker [format]="'yyyy-MM-dd'"
                formControlName="START_TIME"></kendo-datepicker>
        </div>
        <div class="form-group">
            <label for="END_TIME" class="control-label">檔期結束日期</label>
            <kendo-datepicker [format]="'yyyy-MM-dd'"
                formControlName="END_TIME"></kendo-datepicker>
        </div>
    </form>
    <kendo-dialog-actions>
        <button class="k-button" (click)="onCancel($event)">Cancel</button>
        <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">Save</button>
    </kendo-dialog-actions>
</kendo-dialog>
