<h3 class="title">客戶部門歸屬資料表上傳</h3>
<kendo-grid [kendoGridBinding]="notifications" [pageSize]="gridState.take" [skip]="gridState.skip"
    [sort]="gridState.sort" [pageable]="true" [resizable]="true" [sortable]="true"
    (dataStateChange)="onStateChange($event)" (remove)="removeHandler($event)" (edit)="editHandler($event)"
    (add)="addHandler()">
    <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>上傳csv</button>
    </ng-template>
    <kendo-grid-column field="ID" title="序號" width="6%">
    </kendo-grid-column>
    <kendo-grid-column field="GROUPID" title="K/R" width="10%">
    </kendo-grid-column>
    <kendo-grid-column field="CUSTOMERNAME" title="經銷名稱" width="20%">
    </kendo-grid-column>
    <kendo-grid-column field="CUSTOMERID" title="統編" width="8%">
    </kendo-grid-column>
    <kendo-grid-column field="GROUPCODE" title="銷售組織" width="6%">
    </kendo-grid-column>
    <kendo-grid-column field="GROUPTYPE" title="類別" width="10%">
    </kendo-grid-column>
    <kendo-grid-column field="GROUPNAME" title="組織名稱" width="10%">
    </kendo-grid-column>
    <kendo-grid-column field="DEPARTMENTID" title="部門代號" width="8%">
    </kendo-grid-column>
    <kendo-grid-column field="MANAGEREMAIL" title="業務主任email" width="10%">
    </kendo-grid-column>
    <kendo-grid-column field="MANAGERNAME" title="業務主任姓名" width="8%">
    </kendo-grid-column>
</kendo-grid>

<kendo-dialog *ngIf="active" (close)="closeForm()">
    <kendo-dialog-titlebar>上傳csv</kendo-dialog-titlebar>
    <form novalidate [formGroup]="editForm">
        <!--<div *ngIf="isNew" class="form-group">
            <label for="Title" class="control-label">標題</label>
            <input type="text" class="k-textbox" formControlName="Title" />
        </div>-->
        <!--<div class="form-group">
            <label for="Message" class="control-label">內容</label>
            <textarea rows="4" cols="50" formControlName="Message"></textarea> {{editForm.value.Message.length}}
        </div>-->
        <!--<div class="form-group" *ngIf="isNew && editForm.value.pushType!='announcement'">
            <label for="Range" class="control-label">推播範圍</label>
            <label>
                <input type="radio" formControlName="Range" value="0">全部</label>
            <label>
                <input type="radio" formControlName="Range" value="1">名單</label>
            <input type="file" *ngIf="editForm.value.Range=='1'" (change)="onFileChange($event)"
                formControlName="ExcelFile"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            <input type="hidden" formControlName="HiddenExcelFile" />
        </div>-->
        <div class="form-group">
            <label for="Range" class="control-label">檔案上傳</label>
            <input type="file" (change)="onFileChange($event)"
                formControlName="ExcelFile"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            <input type="hidden" formControlName="HiddenExcelFile" />
        </div>
        <!--<div *ngIf="isNew" class="form-group">
            <label for="Way" class="control-label">推播方式</label>
            <label>
                <input type="radio" formControlName="Way" value="0">立即</label>
            <label>
                <input type="radio" formControlName="Way" value="1">預約</label>
            <kendo-datepicker *ngIf="editForm.value.Way=='1'" [format]="'yyyy-MM-dd'" [(ngModel)]="ScheduleTime"
                formControlName="ScheduleTime"></kendo-datepicker>
            <kendo-timepicker *ngIf="editForm.value.Way=='1'" [format]="'HH:mm'" [(ngModel)]="ScheduleTime"
                formControlName="ScheduleTime"></kendo-timepicker>
            <label>
                <input type="radio" (change)="pushTypeChange('announcement')" formControlName="pushType" value="announcement">不推播(純公告)</label>
        </div>-->
    </form>
    <kendo-dialog-actions>
        <button class="k-button" (click)="onCancel($event)">Cancel</button>
        <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">Save</button>
    </kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog *ngIf="comfirm" (close)="closeComfirmForm()">
    <kendo-dialog-titlebar>提示</kendo-dialog-titlebar>
    <div>確定上傳檔案？</div>
    <kendo-dialog-actions>
        <button class="k-button" (click)="onComfirmCancel($event)">取消</button>
        <button class="k-button k-primary" (click)="onComfirmSave($event)">確定</button>
    </kendo-dialog-actions>
</kendo-dialog>