<h3 class="title">廣告管理</h3>
<kendo-grid [kendoGridBinding]="advertisements" [height]="700" [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
    [pageable]="true" [sortable]="true" [resizable]="true" (dataStateChange)="onStateChange($event)"
    (edit)="editHandler($event)" (remove)="removeHandler($event)" (add)="addHandler()">
    <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>新增廣告</button>
    </ng-template>
    <kendo-grid-column field="ID" title="序號" width="5%">
    </kendo-grid-column>
    <kendo-grid-column field="Image" title="照片" [filterable]="false" width="20%">
        <ng-template kendoGridCellTemplate let-dataItem>
            <img [src]="dataItem.Image" style="width: 100%"/>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Link" title="連結網址" width="20%">
    </kendo-grid-column>
    <kendo-grid-column field="Name" title="標題" width="5%">
    </kendo-grid-column>
    <kendo-grid-column field="Type" title="廣告類型" width="5%">
    </kendo-grid-column>
    <!--<kendo-grid-column field="priority" title="順序" width="5%">
    </kendo-grid-column>-->
    <!--<kendo-grid-column field="linkUrl" title="連結內容" width="15%">
        <ng-template kendoGridCellTemplate let-dataItem>
            <a [href]="dataItem.linkUrl" target="_blank">{{dataItem.linkUrl}}</a>
        </ng-template>
    </kendo-grid-column>-->
    <!--<kendo-grid-column field="linkType" title="連結種類" width="8%">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div [ngSwitch]="dataItem.linkType">
                <p *ngSwitchCase="1">App功能</p>
                <p *ngSwitchCase="2">連結</p>
                <p *ngSwitchCase="3">YOUTUBE連結</p>
                <p *ngSwitchCase="4">純公告</p>
            </div>
        </ng-template>
    </kendo-grid-column>-->
    <!--<kendo-grid-column field="createTime" filter="date" title="建立時間" width="10%">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.createTime | dateFilter: 'YYYY-MM-DD' }}
        </ng-template>
    </kendo-grid-column>-->
    <!--<kendo-grid-column field="startTime" filter="date" title="開始時間" width="10%">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.startTime | dateFilter: 'YYYY-MM-DD' }}
        </ng-template>
    </kendo-grid-column>-->
    <!--<kendo-grid-column field="endTime" filter="date" title="結束時間" width="10%">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.endTime | dateFilter: 'YYYY-MM-DD' }}
        </ng-template>
    </kendo-grid-column>-->
    <kendo-grid-column field="Enable" title="狀態" width="12%">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div [ngSwitch]="dataItem.Enable">
                <p *ngSwitchCase="0">停用</p>
                <p *ngSwitchCase="1">啟用</p>
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column title="操作" width="7%">
        <ng-template kendoGridCellTemplate let-dataItem>
            <button kendoGridEditCommand class="k-primary" style="margin: 1em 0;">編輯</button>
            <button kendoGridRemoveCommand style="margin: 0;">刪除</button>
        </ng-template>
    </kendo-grid-command-column>
</kendo-grid>

<!--<app-advertisement-edit-form [model]="editDataItem" [isNew]="isNew" (save)="saveHandler($event)" (cancel)="cancelHandler()">
</app-advertisement-edit-form>-->
<kendo-dialog *ngIf="active" (close)="closeForm()">
    <kendo-dialog-titlebar>
        {{ isNew ? '新增廣告' : '修改廣告' }}
    </kendo-dialog-titlebar>

    <form novalidate [formGroup]="editForm">
        <div class="form-group">
            <label for="imgFile" class="control-label">照片</label>
            <input type="file" (change)="onFileChange($event)" formControlName="imgFile" accept="image/*" requireFile>
            <input type="hidden" formControlName="HiddenExcelFile" />
        </div>
        <div class="form-group">
            <label for="imgFile" class="control-label">預覽</label>
            <div class="addImgs">
                <img *ngFor="let image of imagesPreview" [src]="image" style="width: 100%">
            </div>
        </div>
        <div class="form-group">
            <label for="Link" class="control-label">連結網址</label>
            <input type="text" formControlName="Link" class="k-textbox"
                style="height: auto;" />
        </div>
        <div class="form-group">
            <label for="Name" class="control-label">標題</label>
            <input type="text" formControlName="Name" class="k-textbox"
                style="height: auto;" />
        </div>
        <div class="form-group">
            <label for="Type" class="control-label">廣告種類</label>
            <input type="text" formControlName="Type" class="k-textbox"
                style="height: auto;" />
        </div>
        <!--<div class="form-group">
            <label for="priority" class="control-label">順序</label>
            <input type="number" class="k-textbox" formControlName="priority" />
            <div class="k-tooltip k-tooltip-validation"
                [hidden]="editForm.controls.priority.valid || editForm.controls.priority.pristine">
                順序最小為 1
            </div>
        </div>-->
        <!--<div class="form-group">
            <label for="linkType" class="control-label">連結種類</label>
            <label>
                <input type="radio" (change)="linkTypeChange($event)" formControlName="linkType" value="1">
                App功能</label>
            <label>
                <input type="radio" (change)="linkTypeChange($event)" formControlName="linkType" value="2"> 連結</label>
            <label>
                <input type="radio" (change)="linkTypeChange($event)" formControlName="linkType" value="3">
                Youtube連結</label>
            <label>
                <input type="radio" (change)="linkTypeChange($event)" formControlName="linkType" value="4"> 純公告</label>
        </div>-->
        <!--<div class="form-group" *ngIf="editForm.value.linkType != 4">
            <label for="linkUrl" class="control-label">連結內容</label>
            <input *ngIf="editForm.value.linkType != 1" type="text" class="k-textbox" formControlName="linkUrl" />
            <p *ngIf="editForm.value.linkType == 3" style="color: red;">
                Youtube格式範例:
                <br>（Ｘ）https://www.youtube.com/watch?v=I0gCPdl5pLI
                <br>（Ｏ）https://www.youtube.com/embed/I0gCPdl5pLI
            </p>
            <label *ngIf="editForm.value.linkType == 1">
                <input type="radio" (change)="redirectTypeChange($event)" formControlName="redirectType"
                    value="function">功能</label>
            <label *ngIf="editForm.value.linkType == 1">
                <input type="radio" (change)="redirectTypeChange($event)" formControlName="redirectType"
                    value="promotion">檔期</label>
            <kendo-dropdownlist *ngIf="editForm.value.redirectType=='function' && editForm.value.linkType == 1"
                (selectionChange)="redirectPageChoice($event)" [data]="functionPages" [textField]="'name'"
                [valueField]="'page'" [value]="redirectEditValue" [valuePrimitive]="true">
            </kendo-dropdownlist>
            <kendo-dropdownlist *ngIf="editForm.value.redirectType=='promotion' && editForm.value.linkType == 1"
                (selectionChange)="redirectPageChoice($event)" [data]="promotions" [textField]="'name'"
                [valueField]="'id'" [valuePrimitive]="true" style="width:27.4em;" [value]="redirectEditValue">
            </kendo-dropdownlist>
        </div>-->
        <div class="form-group">
            <label for="Enable" class="control-label">狀態</label>
            <label>
                <input type="radio" formControlName="Enable" value="1"> 啟用</label>
            <label>
                <input type="radio" formControlName="Enable" value="0"> 停用</label>
        </div>
        <!--<div class="form-group"
            *ngIf="editForm.value.linkType != 1 && editForm.value.linkType != 4 && editForm.value.work != 0">
            <label for="hint" class="control-label">警語</label>
            <label>
                <input type="radio" formControlName="hint" value="1"> 提示</label>
            <label>
                <input type="radio" formControlName="hint" value="0"> 不提示</label>
        </div>-->
        <!--<div class="form-group"
            *ngIf="editForm.value.linkType != 1 && editForm.value.linkType != 4 && editForm.value.work != 0">
            <label for="open" class="control-label">開啟方式</label>
            <label>
                <input type="radio" formControlName="open" value="1"> 內嵌</label>
            <label *ngIf="editForm.value.linkType == 2 || !editForm.value.linkType">
                <input type="radio" formControlName="open" value="0"> 外導瀏覽器</label>
        </div>-->
        <!--<div class="form-group">
            <label for="startTime" class="control-label">開始時間</label>
            <kendo-datepicker [value]="value" [format]="'yyyy-MM-dd'" formControlName="startDate"></kendo-datepicker>
            <kendo-timepicker [value]="value" [format]="'HH:mm'" [steps]="steps" formControlName="startTime">
            </kendo-timepicker>
        </div>-->
        <!--<div class="form-group">
            <label for="endTime" class="control-label">結束時間</label>
            <kendo-datepicker [value]="value" [format]="'yyyy-MM-dd'" formControlName="endDate"></kendo-datepicker>
            <kendo-timepicker [value]="value" [format]="'HH:mm'" [steps]="steps" formControlName="endTime">
            </kendo-timepicker>
        </div>-->
    </form>
    <kendo-dialog-actions>
        <button class="k-button" (click)="onCancel($event)">Cancel</button>
        <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">Save</button>
    </kendo-dialog-actions>
</kendo-dialog>

<!--<kendo-dialog *ngIf="active" (close)="closeForm()">
    <kendo-dialog-titlebar>訊息</kendo-dialog-titlebar>
    目前啟用的廣告數目已達 8 則
    <kendo-dialog-actions>
        <button class="k-button" (click)="onCancel($event)">取消</button>
        <button class="k-button k-primary" (click)="onSave($event)">確認</button>
    </kendo-dialog-actions>
</kendo-dialog>-->